{{!-- navbar --}}
    {{> nav}}
    <main>
        <div class="container">
            <div class="w- p-5 mt-5 border rounded mx-auto shadow">
                {{!-- Registration Form --}}
                <form method="POST" action="/editproduct/{{pid}}">
                {{!-- handle error msg after post method --}}
                {{!-- {{#if errMsg}}
                    <div class="alert alert-danger"> {{errMsg}}</div>
                    {{/if}}
                    {{#if succMsg}}
                    <div class="alert alert-success"> {{succMsg}}</div>
                    {{/if}} --}}
                    <div class="mb-4 row">
                        <div class="col-1">
                            <img src="https://uilogos.co/img/logomark/hexa.png" class="mb-2" height="70px" alt="">

                        </div>
                        <p class=" col-11 my-auto fs-1">Update Products</p>
                    </div>
                    <hr>
                    <div class="mt-5 row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Product Name</label>
                                <input type="text" class="form-control" name="prodname" value="{{content.name}}">

                            </div>
                            <div class="mb-3">
                                <label class="form-label">Price</label>
                                <input type="text" class="form-control" name="price" value="{{content.price}}>

                            </div>
                            <div class="mb-3">
                                <label class="form-label">Quantity</label>
                                <input type="text" class="form-control" name="quantity" value="{{content.quantity}}>

                            </div>
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <input type="text" class="form-control" name="description" value="{{content.description}}>

                            </div>
                            <div class="mb-3">
                                <label class="form-label">Url</label>
                                <input type="text" class="form-control" name="url" value="{{content.url}}>
                            </div>
                        </div>
                    
                            
                            
                        

                    </div>
                    <div class="alert alert-danger text-center border-sharp" style="display: none;" id="error"
                        role="alert"></div>
                    <div class="alert alert-success text-center" style="display: none;" id="success" role="alert"></div>
                    <button type="submit" class="btn btn-warning" >Submit</button>
                </form>
            </div>
        </div>

    </main>
{{!-- custom validation --}}


   
